<div class="container main-container">
  <ng-container *ngIf="productStorage">
    <div *ngFor="let product of productStorage; index as i">
      <div class="roll-product m-2">
        <div class="roll-product__img">
          <img
            [routerLink]="['/product/' + product.id]"
            [src]="product.imagePath"
          />
          <button class="quickOrder" (click)="addToBasket(productStorage[i])">
            QUICK ORDER
          </button>
          <div class="favorite"></div>
        </div>
        <div
          class="roll-product__name"
          [routerLink]="['/product/' + product.id]"
        >
          <div class="roll-product__name__pName">
            <span>{{ product.name }}</span>
          </div>
          <div class="roll-product__name__price">
            $<strong
              ><span>{{ product.price * product.count }}</span>
            </strong>
          </div>
        </div>
        <div class="roll-product__weight">
          <div class="roll-product__weight__1">
            <span>{{ product.ingredients }}</span>
          </div>
        </div>
        <div class="roll-product__order">
          <div class="roll-product__order__2">
            <button
              (click)="productCount(productStorage[i], false)"
              class="decrement"
            >
              -
            </button>
            <input
              [value]="product.count"
              type="text"
              readonly
              class="product-qty"
            />
            <button
              (click)="productCount(productStorage[i], true)"
              class="increment"
            >
              +
            </button>
          </div>
          <div class="roll-product__order__3">
            <button (click)="addToBasket(productStorage[i])">ORDER</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
