@import "../../shared/styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

.sticky-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}
.main-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 2px 4px 0px lightgray;
  background-color: white;
  z-index: 99;
}
.delivery-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
  padding: 13px 0;
  background-color: $secondaryColor;
}
.deliveryType {
  font-size: 15px;
}
.deliveryTypelight {
  font-family: RobotoLight;
}
.clickToChange {
  cursor: pointer;
  color: $mainColor;
  padding-left: 2rem;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}

.logo {
  display: block;
  width: 110px;
  height: 100%;
  background-image: url(../../../assets/logo/xtomatina_logo.png.pagespeed.ic.Nv1R27F6Us.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-left: 10px;
}
.nav-main-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: fit-content;
  padding: 0 2vw;
  li {
    margin-left: 45px;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      color: $mainColor;
    }
  }
}

.header-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 45vw;
  padding: 0 2vw;
  transition: all 0.3s;

  &__feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 60%;
    padding: 0 20px;
    background-color: $secondaryColor;
    border-radius: 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    color: $mainColor;
    transition: all 0.3s;
    &:hover {
      background-color: $mainColor;
      color: $secondaryColor;
    }
  }

  &__favorites,
  &__call,
  &__side-menu-btn {
    cursor: pointer;
    display: block;
    width: 47px;
    height: 45px;
    margin: 10px;

    &__heart,
    &__phone,
    &__img {
      display: block;
      width: 100%;
      height: 100%;
      background-image: url(../../../assets/icon/heart-white.svg);
    }
    &:hover {
      path {
        fill: none;
      }
    }
    .heart-icon,
    .phone-icon,
    .bars-icon {
      position: relative;
      left: 30%;
      bottom: 75%;
      background-repeat: no-repeat;
      background-size: 110%;
      background-position: center;
    }
    .heart-icon {
      background-image: url("../../../assets/icon/heart-white.svg");
    }
    .phone-icon {
      background-image: url("../../../assets/icon/mobile-white.svg");
    }
    .bars-icon {
      background-image: url("../../../assets/icon/bars-white.svg");
    }
  }
  &__favorites,
  &__side-menu-btn {
    &:active {
      position: relative;
      top: 2px;
      left: 0;
    }
  }
  &__favorites {
    &:hover {
      .heart-icon {
        background-image: url("../../../assets/icon/heart-green.svg");
      }
    }
  }
  &__call {
    &:hover {
      .phone-icon {
        background-image: url("../../../assets/icon/mobile-green.svg");
      }
    }
  }

  &__side-menu-btn {
    &:hover {
      .bars-icon {
        background-image: url("../../../assets/icon/bars-green.svg");
      }
    }
  }
}
.mobile-info {
  visibility: hidden;
  opacity: 0;
  display: block;
  width: 200px;
  height: fit-content;
  text-align: center;
  padding: 10px;
  background-color: $secondaryColor;
  border-radius: 5px;
  position: absolute;
  top: 140px;
  right: 190px;
  z-index: 101;
  &:before {
    content: "";
    position: relative;
    left: 0;
    bottom: 42px;
    width: 0;
    height: 0;
    border-bottom: 22px solid $secondaryColor;
    border-right: 19px solid transparent;
    border-left: 20px solid transparent;
  }
}
.header-right {
  &__call {
    &:hover {
      .mobile-info {
        opacity: 1;
        visibility: visible;
        top: 100px;
      }
    }
  }
}

path {
  fill: $mainColor;
  stroke: $mainColor;
}

.login-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  width: fit-content;
  height: auto;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  img {
    margin-right: 10px;
  }
  &:hover {
    color: $mainColor;
  }
}

@media all and (max-width: 1200px) {
  .login-btn {
    font-size: 12px;
  }
  .header-right {
    width: fit-content;
  }
  .header-right__feedback {
    display: none;
  }
}

@media all and (max-width: 990px) {
  .header-right__call {
    display: none;
  }
  .nav-main-menu__page,
  .nav-main-menu__delivery {
    display: none;
  }
}

@media all and (min-width: 480px) and (max-width: 990px) {
  .nav-main-menu {
    font-size: 12px;
  }
  .logo {
    width: 80px;
  }
}
@media all and (max-width: 768px) {
  .logo {
    min-width: 80px;
    width: 80px;
  }
  .nav-main-menu__page {
    display: flex;
  }
}
@media all and (max-width: 564px) {
  .main-nav {
    height: 60px;
  }
  .header-right__favorites,
  .header-right__side-menu-btn {
    width: 41px;
    height: 39px;
  }
  .heart-icon,
  .bars-icon {
    left: 28% !important;
    bottom: 77% !important;
  }
}
@media all and (max-width: 480px) {
  .nav-main-menu {
    font-size: 11px;
  }
  .nav-main-menu {
    li {
      margin-left: 5px;
    }
  }
  .header-right__favorites,
  .header-right__side-menu-btn {
    margin: 0;
    width: 34px;
    height: 32px;
  }
  .heart-icon,
  .bars-icon {
    left: 23% !important;
    bottom: 81% !important;
  }
}
.auth-dialog {
  background-color: grey;
}

.backdropBackground {
  background-color: black;
}
