@import "../../shared/styles/variables";

.menu {
  color: black;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  span {
    color: $mainColor;
  }
}

.main-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  &__block_1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: fit-content;
    &__green-zone,
    &__yellow-zone,
    &__red-zone {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      &__img {
        display: block;
        width: 120px;
        height: 120px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
      }
      &__text {
        p {
          font-size: 28px;
          padding-left: 32px;
        }
        li {
          list-style-type: circle;
        }
      }
    }
    &__green-zone {
      &__img {
        background-image: url(../../../assets/secondary_image/bike_green.svg);
      }
    }
    &__yellow-zone {
      &__img {
        background-image: url(../../../assets/secondary_image/bike-yellow.svg);
      }
    }
    &__red-zone {
      &__img {
        background-image: url(../../../assets/secondary_image/bike_red.svg);
      }
    }
  }
  &__block_2 {
    display: block;
    width: 50%;
    height: 530px;
    background-image: url(../../../assets/map/map.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
}
.second-block {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  &__block-1 {
    display: block;
  }
  &__block-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-bottom: 100px;
    &__box1,
    &__box2,
    &__box3 {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      min-width: 430px;
      width: 30%;
      height: fit-content;
      &__img {
        display: block;
        width: 75px;
        height: 53px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
      }
      &__text {
        display: block;
        width: 70%;
        p {
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
    &__box1 {
      &__img {
        background-image: url(../../../assets/secondary_image/pay_page_one.svg);
      }
    }
    &__box2 {
      &__img {
        background-image: url(../../../assets/secondary_image/pay_page_two.svg);
        background-size: 80%;
      }
    }
    &__box3 {
      &__img {
        background-image: url(../../../assets/secondary_image/pay_page_tree.svg);
        background-size: 80%;
      }
    }
  }
}
.green {
  color: $green;
}
.yellow {
  color: $yellow;
}
.red {
  color: $red;
}

@media all and (max-width: 1200px) {
  .main-block {
    display: flex;
    flex-flow: column-reverse nowrap;
    &__block_1 {
      width: 100%;
      &__green-zone,
      &__yellow-zone,
      &__red-zone {
        width: 60%;
        margin: 20px;
      }
    }
    &__block_2 {
      width: 100%;
    }
  }
  .second-block {
    &__block_2 {
      &__box1,
      &__box2,
      &__box3 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
      }
    }
  }
}
