<div class="container">
  <p class="menu">Delivery and <span>pay</span></p>
  <div class="main-block">
    <div class="main-block__block_1">
      <div class="main-block__block_1__green-zone">
        <div class="main-block__block_1__green-zone__img"></div>
        <div class="main-block__block_1__green-zone__text">
          <p class="green">Green zone</p>
          <ul>
            <li>
              Estimated delivery time <span class="green">39 minutes</span>
            </li>
            <li>
              When ordering from <span class="green">250 UAH</span> we will
              bring it for <span class="green">FREE</span>
            </li>
            <li>
              When ordering up tо <span class="green">250 UAH</span> delivery
              cost <span class="green">60 UAH</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-block__block_1__yellow-zone">
        <div class="main-block__block_1__yellow-zone__img"></div>
        <div class="main-block__block_1__yellow-zone__text">
          <p>Yellow zone</p>
          <ul>
            <li>
              Estimated delivery time <span class="yellow">55 minutes</span>
            </li>
            <li>
              When ordering from <span class="yellow">250 UAH</span> we will
              bring it for <span class="yellow">FREE</span>
            </li>
            <li>
              When ordering up tо <span class="yellow">250 UAH</span> delivery
              cost
              <span class="yellow">60 UAH</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-block__block_1__red-zone">
        <div class="main-block__block_1__red-zone__img"></div>
        <div class="main-block__block_1__red-zone__text">
          <p class="red">Red zone</p>
          <ul>
            <li>Estimated delivery time <span class="red">65 minutes</span></li>
            <li>
              When ordering from <span class="red">350 UAH</span> delivery cost
              <span class="red">90 UAH</span>
            </li>
            <li>
              When ordering up tо <span class="red">500 UAH</span>we will bring
              it for
              <span class="red">FREE</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-block__block_2"></div>
  </div>
</div>
