<div class="container">
  <p class="menu">Delivery and <span>pay</span></p>
  <div class="main-block">
    <div class="main-block__block_1">
      <div class="main-block__block_1__green-zone">
        <div class="main-block__block_1__green-zone__img"></div>
        <div class="main-block__block_1__green-zone__text">
          <p class="green">Green zone</p>
          <ul>
            <li>
              Estimated delivery time <span class="green">39 minutes</span>
            </li>
            <li>
              When ordering from <span class="green">250 UAH</span> we will
              bring it for <span class="green">FREE</span>
            </li>
            <li>
              When ordering up tо <span class="green">250 UAH</span> delivery
              cost <span class="green">60 UAH</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-block__block_1__yellow-zone">
        <div class="main-block__block_1__yellow-zone__img"></div>
        <div class="main-block__block_1__yellow-zone__text">
          <p>Yellow zone</p>
          <ul>
            <li>
              Estimated delivery time <span class="yellow">55 minutes</span>
            </li>
            <li>
              When ordering from <span class="yellow">250 UAH</span> we will
              bring it for <span class="yellow">FREE</span>
            </li>
            <li>
              When ordering up tо <span class="yellow">250 UAH</span> delivery
              cost
              <span class="yellow">60 UAH</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-block__block_1__red-zone">
        <div class="main-block__block_1__red-zone__img"></div>
        <div class="main-block__block_1__red-zone__text">
          <p class="red">Red zone</p>
          <ul>
            <li>Estimated delivery time <span class="red">65 minutes</span></li>
            <li>
              When ordering from <span class="red">350 UAH</span> delivery cost
              <span class="red">90 UAH</span>
            </li>
            <li>
              When ordering up tо <span class="red">500 UAH</span>we will bring
              it for
              <span class="red">FREE</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-block__block_2"></div>
  </div>
  <div class="second-block">
    <div class="second-block__block-1">
      <p class="menu">PAY</p>
    </div>
    <div class="second-block__block-2">
      <div class="second-block__block-2__box1">
        <div class="second-block__block-2__box1__img"></div>
        <div class="second-block__block-2__box1__text">
          <p>Pay by LiqPay</p>
          <span>Pay online for your order by LiqPay service on the site</span>
        </div>
      </div>
      <div class="second-block__block-2__box2">
        <div class="second-block__block-2__box2__img"></div>
        <div class="second-block__block-2__box2__text">
          <p>Pay by credit card</p>
          <span>Our courier has terminal and accepts card for payment</span>
        </div>
      </div>
      <div class="second-block__block-2__box3">
        <div class="second-block__block-2__box3__img"></div>
        <div class="second-block__block-2__box3__text">
          <p>Pay cash</p>
          <span
            >Pay cash when you pick up your order. Please remember to let us
            know in advance if you need the change</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
