<div class="container">
  <p class="menu">Menu</p>
  <div class="main-container">
    <div class="categories-list">
      <button class="list-btn" [routerLink]="['/product/breakfasts']">
        Breakfasts until 18:00
      </button>
      <button class="list-btn" [routerLink]="['/product/weekly-special']">
        Weekly Special
      </button>
      <button class="list-btn" [routerLink]="['/product/salad-pasts']">
        Salad pasts
      </button>
      <button class="list-btn" [routerLink]="['/product/salads']">
        Salads
      </button>
      <button class="list-btn" [routerLink]="['/product/fit-sandwiches']">
        Fit Sandwiches
      </button>
      <button class="list-btn" [routerLink]="['/product/soups']">Soups</button>
      <button class="list-btn" [routerLink]="['/product/desserts']">
        Desserts
      </button>
      <button class="list-btn" [routerLink]="['/product/drinks']">
        Drinks
      </button>
    </div>
    <div class="product-block">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
